// -----        VARIABLES
// Colors
$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
// other colors
$Grey-1: hsl(210, 46%, 90%);
$Grey-2: hsl(214, 17%, 66%);
$Grey-3: hsla(214, 17%, 51%, 0.75);
$Grey-hover: hsla(210, 30%, 60%, 0.5);
$Ouline-blue-1: hsl(210, 46%, 50%);
// Font size
$Body-font-size: calc(1rem * (13 / 16));
// Narrow screen responsive dimensions
$Responsive-2rem: clamp(1.7rem, 8.5333vw, 2rem);
$Responsive-1_75rem: clamp(1.4933rem, 7.4667vw, 1.75rem);
$Responsive-1_5rem: clamp(1.2rem, 6.4vw, 1.5rem);
$Responsie-1rem: clamp(0.8533rem, 4.2667vw, 1rem);

// INITIAL RULES
* {
  // box
  box-sizing: border-box;
  margin: 0;
}

body {
  // styles
  background-color: $Light-Grayish-Blue;

  // typography
  font-family: "Manrope", sans-serif, Arial, Helvetica;
  font-size: $Body-font-size;

  // center content, no scroll
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // box-spaces
  padding-block: 4rem;
  padding-inline: $Responsive-1_75rem;

  // dimension
  min-width: 20rem;
}

// #            MOBILE LAYOUT: 320px

// --   PREVIEW
.preview {
  // dimension
  max-width: 28rem; // 448px

  // styles
  background-color: white;
  border-radius: 0.625rem;
  overflow: hidden;

  // arrange content: vertical flow
  display: flex;
  flex-direction: column;

  // ancestor for the hidden .links-bar
  position: relative;
}

// --   BANNER
.banner {
  .banner-image {
    // image-fit to container
    object-fit: cover;
    display: block;
    aspect-ratio: 16/9;
    width: 100%;
  }
}

// --   CONTENT
.content {
  // box spaces
  padding-inline: $Responsive-2rem;
  padding-block-start: $Responsive-2rem;
  padding-block-end: $Responsive-1_5rem;

  // arrange content
  display: flex;
  flex-direction: column;
  gap: $Responsie-1rem;

  // --   Children
  h1 {
    // typography
    font-size: 1.25em;
    font-weight: 700;
    color: $Very-Dark-Grayish-Blue;
  }
  p {
    // typography
    color: $Desaturated-Dark-Blue;
    font-weight: 500;
    line-height: 1.5;
  }
}

// --   FOOTER
.footer {
  // box spaces
  padding-block-start: $Responsie-1rem;

  // arrange content
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.publisher {
  // arrange content
  display: flex;
  gap: 1rem;

  // --   Children
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  .details {
    font-style: normal;

    // arrange content
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // ---  .details' Children
    strong {
      color: $Very-Dark-Grayish-Blue;
    }
    time {
      font-weight: 500;
      color: $Grey-3;
    }
  }
}
.share-button {
  all: unset;

  // dimension, styles
  height: 2rem;
  aspect-ratio: 1/1;
  background-color: $Light-Grayish-Blue;
  border-radius: 50%;

  // arrange content
  display: flex;
  align-items: center;
  justify-content: center;

  // --   Children
  svg > path {
    // arrow color
    fill: $Desaturated-Dark-Blue;
  }
  // hover
  &:hover {
    cursor: pointer;
    background-color: $Grey-hover;
  }
  // active
  &:active {
    background-color: $Desaturated-Dark-Blue;

    svg > path {
      // change the arrow color
      fill: $Light-Grayish-Blue;
    }
  }
  &:focus-visible {
    outline: 0.25rem solid $Ouline-blue-1;
  }
}
.clicked {
  background-color: $Desaturated-Dark-Blue;

  svg > path {
    // change the arrow color
    fill: $Light-Grayish-Blue;
  }
}
.clicked:hover {
  background-color: $Desaturated-Dark-Blue;

  svg > path {
    // change the arrow color
    fill: $Light-Grayish-Blue;
  }
}
.links-bar {
  // styles, spaces
  background-color: $Very-Dark-Grayish-Blue;
  padding-inline: $Responsive-2rem;

  // dimension
  height: 4rem;
  width: 100%;

  // arrange content
  display: flex;
  justify-content: space-between;
  align-items: center;

  // position
  position: absolute;

  // hidden
  transform: translateY(0);

  // mobile position
  bottom: -4rem;
  left: 0;

  // transition when showing/hiding
  transition: transform 0.15s;

  // --   Children
  .links {
    // arrange content
    display: flex;
    gap: $Responsie-1rem;
    justify-content: space-between;
    align-items: center;

    // ---  .links' Children
    strong {
      // typography
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.5em;
      color: $Grey-2;
      font-size: 0.9em;
    }
    a {
      // arrange content
      display: flex;
      align-items: center;
      overflow: visible;
    }
  }
  .share-icon {
    // dimension, styles
    height: 2rem;
    aspect-ratio: 1/1;
    background-color: $Desaturated-Dark-Blue;
    border-radius: 50%;

    // arrange content
    display: flex;
    align-items: center;
    justify-content: center;

    svg > path {
      fill: $Light-Grayish-Blue;
    }
  }
}

// mobile placement of  links-bar when shown/hidden
.links-bar-show {
  transform: translateY(-4rem);
}
.links-bar-hide {
  transform: translateY(0);
}
// # end of: MOBILE LAYOUT

// #            DESKTOP LAYOUT: 960px
@media screen and (min-width: 60rem) {
  .preview {
    // dimension
    max-width: unset;
    width: 45.625rem; // 730px
    height: 17.5rem; // 280px

    // arrange content: horizontal flow
    flex-direction: row;

    // revert position for the #links bar tooltip to overflow
    position: unset;

    // show the #links-bar when overflowed
    overflow: unset;
  }
  .banner {
    // dimension
    width: 17.8125rem;
    flex-shrink: 0;

    // content
    overflow: hidden;

    // border style
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;

    .banner-image {
      // fit to container
      width: unset;
      aspect-ratio: unset;
      height: 100%;
    }
  }
  .content {
    // spaces
    padding-block: 2rem;
    padding-inline: 2.5rem;
    gap: unset;
    justify-content: space-between;

    h1 {
      font-size: 1.5em;
    }
  }
  .footer {
    padding: unset;

    // anchor the #links-bar position
    position: relative;

    .links-bar-show {
      // dimension, round edges
      width: fit-content;
      height: 3.5rem;
      border-radius: 0.625rem;

      // position
      top: -1rem;
      left: unset;
      right: -6.5rem;

      // transition
      opacity: 1;
      transition: opacity 0.125s ease-in-out;
    }
    @supports (clip-path: polygon(0 0, 100% 0, 50% 50%)) {
      .links-bar-show::after {
        // box style, blend with parent
        content: "";
        background-color: inherit;

        // dimenstion
        height: 1.5rem;
        aspect-ratio: 1/1;

        // position, absolute
        position: inherit;
        left: calc(50% - 0.75rem);
        bottom: -1.5rem;

        // shape: inverted triangle
        clip-path: polygon(0 0, 100% 0, 50% 50%);
      }
    }
    .links-bar-hide {
      opacity: 0;
    }

    .links-bar > .share-icon {
      display: none;
    }
  }
}
// # end of: DESKTOP LAYOUT

// -----    PRE STYLED CLASSES FOR LINKS WIDGET

// show
.visible {
  visibility: visible;
}
// hide
.hidden {
  visibility: hidden;
}
// no display
.no-display {
  display: none;
}
