// -----        VARIABLES
// Colors
$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);
// other colors
$Grey-1: hsl(210, 46%, 90%);
$Grey-2: hsl(214, 17%, 66%);
$Ouline-blue-1: hsl(210, 46%, 50%);
// Font size
$Body-font-size: calc(1rem*(13/16));
// Narrow screen responsive dimensions
$Responsive-2rem: clamp(1.7rem , 8.5333vw, 2rem);
$Responsive-1_75rem: clamp(1.4933rem, 7.4667vw, 1.75rem);
$Responsive-1_5rem: clamp(1.2rem , 6.4vw, 1.5rem);
$Responsie-1rem: clamp(0.8533rem, 4.2667vw, 1rem);


// INITIAL RULES
* {
    // box
    box-sizing: border-box;
    margin: 0;
}

body {
    // styles
    background-color: $Light-Grayish-Blue;

    // typography
    font-family: "Manrope", sans-serif, Arial, Helvetica;
    font-size: $Body-font-size;

    // center content
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    // box-spaces
    padding-block: 4rem;
    padding-inline: $Responsive-1_75rem;
}

// #    MOBILE LAYOUT: 320px
.preview {
    // dimension
    max-width: 28rem;   // 448px

    // styles
    background-color: white;
    border-radius: 0.625rem;
    overflow: hidden;

    // arrange content: vertical flow
    display: flex;
    flex-direction: column;
}
.banner {
    .banner-image {
        // image-fit to container
        object-fit: cover;
        display: block;
        aspect-ratio: 16/9;
        width: 100%;
    }
}


// #    DESKTOP LAYOUT: 960px
@media screen and (min-width: 60rem) {
    .preview {
        // dimension
        max-width: unset;
        width: 45.625rem;

        // arrange content: horizontal flow
        flex-direction: row;
    }
    .banner {
        // dimension
        width: 17.8125rem;
        flex-shrink: 0;

        // content
        overflow: hidden;

        .banner-image {
            // fit to container
            width: unset;
            aspect-ratio: unset;
        }
    }
}