* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(210deg, 46%, 95%);
  font-family: "Manrope", sans-serif, Arial, Helvetica;
  font-size: 0.8125rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 4rem;
  padding-inline: clamp(1.4933rem, 7.4667vw, 1.75rem);
}

.preview {
  max-width: 28rem;
  background-color: white;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.banner .banner-image {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  aspect-ratio: 16/9;
  width: 100%;
}

@media screen and (min-width: 60rem) {
  .preview {
    max-width: unset;
    width: 45.625rem;
    flex-direction: row;
  }
  .banner {
    width: 17.8125rem;
    flex-shrink: 0;
    overflow: hidden;
  }
  .banner .banner-image {
    width: unset;
    aspect-ratio: unset;
  }
}